<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ judul }}</title>
</head>

<body>

    <h1>{{ subtitle }}</h1>
    <ul>

        {% for link, name in nav %}

        <li><a href="{{ link }}">{{ name }}</a></li>

        {% endfor %}

    </ul>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo dolorem quasi omnis doloribus vitae odio.
        Ducimus corporis vero neque autem ullam quaerat ipsam accusamus, doloribus tempore adipisci a, repellat beatae.
    </p>

</body>

</html>